 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #4a75b6c4;
    --light-color: #fff;
    --dark-color: #000000;
    --light-dark:#0000009c;

}
body{
   
    font-size: 19px;
    line-height: 1.5;
    background-color: #f1eded;
    font-family: 'i believe in life before death', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
    
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #e0da8fcc;
    padding: 0.5rem;
    font-family: 'Astonpoliz' , sans-serif;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .main-menu ul {
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    padding: 10px 20px;  
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #272626c4;
}
.navbar ul li a:last-child  {
    margin-left: 10px;
}



/* Blacks*/
.blacks{
    margin-bottom: 50px;
}
.blacks .container {
    background: url('./lend.jpeg' ) ;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
    
}

.blacks .blacks-content {
    width: 70%;
}
.blacks .blacks-text{
    width: 70%;
    margin-bottom: 20px;
}

/* Galary */
.galary {
    padding: 10px 0 40px;
    align-items: center;
}
.galary-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}
.galary-content img{
    width: 20%;
    height: auto;
    /* align-items: center; */
    /* margin-left: 5rem; */
    margin-bottom: 20px;
    margin-left: 4%;
}

/*Word*/
.word{
    padding: 40px 0;
    align-items: center;
}
.word .word-heading{
    width: 700px;
     margin-bottom: 40px; 
  
    text-align: center;
    align-items: center;
 
}
.word-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.word .card p:nth-child(2) {
    margin-top: 20px;
    font-weight: bold;
}


/*Pricing*/
.pricing .pricing-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 50px;
}
.pricing .pricing-card{
    font-family: 'Astonpoliz', sans-serif;
}
.pricing .pricing-card-subheading{
    margin-bottom: 30px;
}
.pricing .pricing-card-price{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.pricing ul{
    margin: 30px 0;
}
.pricing ul li{
    margin-bottom: 20px;
}
.pricing ul li i{
    margin-right: 10px;
}
.pricing .pricing-footer{
    margin: 30px 0;
}
/*FAQ*/
.faq {
padding: 40px 0;
}
.faq .faq-group{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    font-family: 'Anime Acc' , sans-serif;
}
.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}
.faq .faq-group .faq-group-header h4{
    font-weight: 600;
    width: 95%;
   
}
.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}
.faq .faq-group .faq-group-body {
    display: none;
}
.faq .faq-group .faq-group-body.open {
    display: block;
}
.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
}
/*Footer*/
.footer{
    padding: 40px 0;
}
.footer h4{
    margin-bottom: 10px;
}
.footer ul li {
    line-height: 2.5;

}
.footer a {
    color: #b9b9b9;
}

.footer i{
    font-size: 1.5rem;
    margin-right: 10px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer .card-x{
    margin: 20px 30px 30px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-image: url('./bg.jpeg');
    background-size: cover;
    background-position: center;
}
.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}


/*Utility Classes*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;   
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
} 
/*Card*/
.card {
    background: #fff;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Carmitta' ,sans-serif;
    
}
.card-x {
    background: #fff;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Astonpoliz' , sans-serif;
    
}


/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 2px;
    background: #ffffff;
    color: #4b0a0a;
    font-weight: 600;
    font-family: 'Astonpoliz' , sans-serif;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    
}
.btn-dark { 
    background: var(--dark-color);
    color: #f8f194de;
    border-radius: 10px;
    font-family: 'Astonpoliz' , sans-serif;
    
}
.btn-primary{
    background: var(--primary-color);
    color: #ffff;
    font-family: 'Astonpoliz' , sans-serif;

}
.btn-light-dark{
    background: var(--light-dark);
    color: #fff;
    font-family: 'Astonpoliz' , sans-serif;
}

.btn-block{
    display: block;
    background: var(--primary-color);
    color: #ffff;
    font-family: 'Astonpoliz' , sans-serif;
}
.btn:hover{
    opacity: 0.8;
    
}



/* Text Class */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 20px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}




/*Background*/
.bg-primary{
    background: var(--primary-color);
    color: #000000;
}
.bg-dark{
    background:var(--dark-color);
    color: #fff;
}
.bg-light{
    background: var(--light-color);
    color: #333;
}
.bg-black{
    background: #000000f6;
    color: #ffffff;
}
.bg-milk {
    background: #f8f194de;
    color: #333;
}

/*Hamburger Button*/
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    
}

.hamburger-button .hamburger-line{
    width: 30px;
    height: 3px;
    background: #000;
    margin: 6px 0;
   
    
}

/*Mobile Menu*/
.mobile-menu {
    position: fixed;
    top: 0;
     right:-500px; 
    width: 370px;
    height: 55%;
    z-index: 100;
    background:  #e6df83c4;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu.active{
    right: 0px;
}

.mobile-menu ul {
    margin-top: 50px;
    padding-right: 10px;
}
.mobile-menu ul li {
    margin: 10px 0;
}
.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/*Media Queries*/
@media (max-width:960px) {
    .text-xxl{
        font-size: 2.5rem;
    }
}
@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }
    .navbar .hamburger-button{
        display: block;
    }

    .blacks .container {
        background: url('./lend.jpeg') no-repeat;
        background-size: 350px 500px;
        background-position: top;
        height:500px;
        text-align: center;
    }

     .blacks-content, .blacks-text {
        width: 100%;
        align-items: center;
    }

    .blacks .blacks-buttons .btn {
    margin-bottom: 10px; 
    display: block;
    width: 100%;  
}
.word .word-heading {
    max-width: 100%;
    text-align: center;
}
.word .word-grid , .pricing .pricing-grid,
.footer .footer-grid{
    grid-template-columns: 1fr;
}

.footer .card-x{
    margin-right: 0;
}

.footer .footer-grid{
    text-align: center ;
}

/*Text*/
.text-xl {
    font-size: 1.9rem;
}
.text-lg{
    font-size: 1.5rem;
}
.text-md{
    font-size: 1.1rem;
}

}

@media (max-width: 500px) {
   
    }
    